/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*  apply a natural box layout model to all elements  */
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }


body{
    font-family: $defaultFont;
    font-size: 16px;
    font-weight: $normalWeight;
}
/*---------HEADER-----------*/

header{
    position: relative;
    background-color: $primaryColor;
    color: $secondaryColor;
    padding: 1rem $gutter;
    height: 6rem;
    h1{
        font-size: 2rem;
        font-weight: $normalWeight;
    }
    h2{
        font-size: 1.12rem;
        font-weight: $normalWeight;
    }



    /*----Header social icons------*/
    header{
        ul.social{
            position:absolute;
        };
    }
    ul.social li{
        list-style-type: none;
        float: left;  //this force them to stack left to right instead of top to bottom
        width: 25%;  //because there are 4 icons and we want them to take the full 100% of screen width
    }
    ul.social li a{
        display: block;
        margin: 0 auto; //
        background-image: url(../assets/images/socialSprites.png);
        height: 45px;
        width: 45px; // The picture is 270 px. .There are 6 icons across.  270/6= 45. ie: width = pic width/# of sprites across pic.
    }
    ul.social .twitter a{background-position: -90px -45px;}
    ul.social .youtube a{background-position: -225px -45px;}
    ul.social .facebook a{background-position: -45px -45px;}
    ul.social .googleplus a{background-position: 180px -45px;}

    ul.social .twitter a:hover{background-position: -90px -0px;}
    ul.social .youtube a:hover{background-position: -225px -0px;}
    ul.social .facebook a:hover{background-position: -45px -0px;}
    ul.social .googleplus a:hover{background-position: 180px -0px;}

}
nav{
    background-color: $secondaryColor;
    border-bottom: 1px solid rgba(0,0,0,0.3);
    height: 2rem;
    ul li{
        float: left;
        width: 25%;
        border-right: 1px solid rgba(0,0,0,0.3);
    }
    ul li a{
            display: block;
            text-align: center;
            font-weight: $boldWeight;
            padding: .5rem 0;
            color: $primaryColor;
            text-decoration: none;
            transition: background 0.75s ease, color 0.75s ease;
    }
    ul li.active a{
        background-color: darken( $secondaryColor, 10%);
    }
    ul li a:hover{
        color: $secondaryColor;
		background-color: $primaryColor;
    }

}
/*----------- MAIN -------------*/
main{
    max-width: 60rem;
    min-height: 20rem;
    h1{
        font-size: 2rem;
        margin: 1.5rem 0 .5rem 0;
        color: $primaryColor;
    }

    ul li{
        width: 50px;
        height: 50px;
        background-image:url(../assets/images/SpritePractice.png);
        background-position: 0 0;
    }

    ul li.blue{background-position: 0 -100px;} //0 is the X axis, -100 is the vertical axis, each sprite is 50px so -100 is the 3rd (0, -50, -100), item down.
    ul li.bee{background-position: -50px -50px;} // -50 to the right and down
    ul li.one{background-position: -100px 0;}//-100 is 2 spaces to the right, and 0 is the first row,
    // so the 3rd column, 1st row intersection.

}
figure{width: 33%; float: right;}
figure img{width: 100%;}

/* -----------COLUMN LAYOUT-----------------*/
.row {clear:both;} //clear anything above rows
.column{padding: 0 $gutter;}

//Allows you to assign a class name that will automatically determine the appropriate width based on how many columns you want divided across the entire width of container
@for $i from 1 through 12{
    $w:($i / 12) * 100%;
    .small-#{$i}  {width: $w; float: left}
}